/********** FOOTER **********/
.small-image {
    width: 33px;
    height: 32px;
}

[data-role="footer"] p {
    color: #333;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

body .ui-btn,
body label.ui-btn {
    font-weight: 700;
    border-width: 1px;
    border-style: none !important;
}

/********** INDEX **********/

.colorIndex {
    background-color: #2b2d42 !important;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.div-logo-title,
.pIndex,
#buttonCreate,
#buttonLogin {
    animation: slideUp 1s ease-out;
}

.pIndex {
    margin-top: 1px;
    color: #ffffff;
    text-shadow: 0 0px 0 #f3f3f3;
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 40px;
    text-align: left;
}

.span-large {
    font-size: 1.8em;
}

#buttonCreate,
#buttonLogin {
    font-weight: 700;
    border-width: 1px;
    border-style: solid !important;
    border-color: white !important;
    background-color: transparent !important;
    color: white !important;
    display: block;
    margin: auto;
    width: 85%;
    text-shadow: none !important;
    border-radius: 20px;
}

#buttonCreate {
    background-color: rgba(46, 165, 245, 0.336) !important;
}

.pTitleIndex {
    margin-top: 200px;
    font-family: Arial, sans-serif;
    font-size: 2.1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
}

.div-logo-title {
    display: flex;
    align-items: center;
    margin: auto;
}

.img-index {
    width: 40px;
    height: auto;
    margin-top: 175px;
    margin-left: 20px;
    margin-right: 3px;
}



/********** HEADER-LANDINGPAGE **********/
.headerIndex {
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
    position: relative;
}

.headerIndex .header-logo {
    width: 50px;
    height: 50px;
    margin-right: 9px;
}

.headerIndex h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /* Añadido la fuente Roboto */
    font-size: 24px;
    /* Aumentado el tamaño de la fuente para mayor impacto */
    font-weight: 545;
    /* Aumentado el peso de la fuente para un aspecto más audaz */
    text-transform: uppercase;
    letter-spacing: 1px;
    /* Aumentado el espaciado de las letras para una mejor legibilidad */
    line-height: 1.5;
    /* Ajustado el interlineado para una mejor legibilidad */
    margin-top: 6px;
    font-stretch: normal;
    /* Cambiado a normal para evitar la distorsión de la fuente */
    height: 40px;
    /* Añadido altura a la letra */
    margin-left: 25px;
}

/********** HEADER - NEW EVENT **********/
.headerCreate {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
    position: relative;
}

.headerCreate .header-logo {
    width: 50px;
    height: 50px;
    margin-right: 9px;
}

.headerCreate h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 13%;
    text-shadow: none;

}

.notification-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.options-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

/********** HEADER - NEW USER **********/
.headerNewUser {
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: #f9f9f9;
    padding-left: 15px;
    position: relative;
}

.headerNewUser .header-flecha {
    width: 37px;
    height: 37px;
    margin-right: 45px;

}

.headerNewUser h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 5%;
    text-shadow: none;

}

/********** HEADER - Login **********/
.headerLogin {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: #2b2d4275;
    padding-left: 15px;
    position: relative;
}

.headerLogin .header-flecha {
    width: 37px;
    height: 37px;
    margin-right: 45px;
    filter: invert(1);
}

.headerLogin h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 10%;
    text-shadow: none;
}

/********** HEADER - Reset Pass and Reset Pass Mail **********/
.headerResetPass {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 10px;
    height: 45px;
}

.headerResetPass .flecha-izquierda {
    width: 37px !important;
    height: 27px;
    filter: invert(1);


}

.headerResetPass h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    margin-left: 47px;
    text-shadow: none;

}

.pResetPassMail {

    margin-top: -40px;
    margin-bottom: 50px;
    color: #000;
    text-align: left;
}

/************** INDEX **************/
.paragraph1 {
    font-size: 17px;
    line-height: 1.1;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(3, 3, -1, 0.5);
    /* Add text shadow for a slight relief effect */
    letter-spacing: 0.5px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 179px;
    margin-left: 15px;
    text-align: start;
}

.paragraph2 {
    font-size: 14px;
    line-height: 1.3;
    color: #ffffff;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(3, 3, -1, 0.5);
    /* Add text shadow for a slight relief effect */
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* Added this line to make the text bolder */
    margin-top: 40px;
    margin-left: 10px;
}

.paragraph3 {
    font-size: 14px;
    line-height: 1.3;
    color: #ffffff;

    text-shadow: 1px 1px 2px rgba(3, 3, -1, 0.5);
    /* Add text shadow for a slight relief effect */
    text-align: left;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* Added this line to make the text bolder */
    margin-top: 14px;
    margin-left: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow: hidden;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 13px;
    color: black;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    /*height: 310px;*/
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    /*padding-left: 15px;*/
}

.bordered {
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 19px;
    flex: 1;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);

}

.bordered img {
    width: 100%;
    /* Make the image take up the full width of its container */
    height: auto;
    /* Keep the original aspect ratio of the image */
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1rem;
}



.container2 {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

.column {
    width: 44%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #2c2c2c;
    margin: 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.column img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 9px 10px 0 0;
    /*margin-bottom: 20px;*/
}

.column .small-img {
    position: absolute;
    background-color: #c4c7c7;
    padding: 2px;
    filter: invert(1);

    width: 40px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    display: block;
    margin: -31px auto;
    margin-left: 10px;
    border-radius: 8px;
    /* Ajusta para obtener el nivel de redondeo que desees */
}


.column p {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.mapa {

    height: 230px;
    width: 92%;
    margin: 0 auto;
    border: 1px solid #0000003d;
    border-radius: 10px;
    margin-bottom: 30px;
}

/************** CREATE **************/


#btnEnviar {
    background-color: rgb(43, 165, 221);
    text-shadow: none;
    border-radius: 25px;
}

.timeDate {
    display: flex;

}

.timeDate {
    display: flex;
}

.timeDate .ui-input-text {
    width: 50% !important;
    box-sizing: border-box !important;
    margin-right: 5px !important;

}

.timeDate .ui-input-text:last-child {
    margin-right: 0 !important;

}


.input-text,
ui-input-text input,
.ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    color: #000 !important;
}



/********botnones de enviar *********/

#btnSave {
    background-color: rgb(43, 165, 221);
    text-shadow: none;
}

#btnSubmit {
    background-color: rgb(43, 165, 221);
    text-shadow: none;
    border-radius: 25px;
    /* Ajusta este valor para cambiar cuánto quieres que se redondeen los bordes */
}

#btnEnviarMail {
    background-color: rgb(43, 165, 221);
    text-shadow: none;
}

#btnEnviarPass {
    background-color: rgb(43, 165, 221);
    text-shadow: none;
}

/********** Profile **********/
/* Estilos para el header */
.headerProfile {
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
    position: relative;
}

.headerProfile .header-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.headerProfile h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 24%;
}

/* Estilos para el contenido del perfil */

.notification-icon-profile {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-right: 50px;
}

.ui-content {
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #007bff;
}

.profile-info {
    text-align: center;
    margin-top: -15px;

}

.profile-info h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 0;
}

.profile-info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.edit-profile-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: black !important;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: none;
}

.headerEditProfile .flecha-izquierda-Edit {
    width: 37px !important;
    height: 27px;
    filter: invert(1);


}

.events-section h3 {
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

.miniDescription {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #000;
    text-align: left;
    margin-left: 25px;
}


/* Estilos para la sección de eventos */
.events-section {
    margin-top: 20px;
}

.events-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.events-buttons button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 12px;
    background-color: rgb(43, 165, 221);
    ;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.events-list li {
    background-color: #f8f9fa;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    display: flex;
    align-items: center;
}

.events-list li img {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    margin-right: 10px;
    margin-left: 185px;
    object-fit: cover;
}

.events-list li h3 {
    font-size: 14px;
    margin: 0;
}

.events-list li p {
    font-size: 12px;
    color: #777;
    margin: 0;
}

.join-btn-profile {
    display: inline-block;
    padding: 8px 20px;
    background-color: rgb(43, 165, 221);

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: -230px;
    width: 120px !important;

}

.ButtonsEventsProfile {
    text-shadow: none !important;
    font: inherit !important;
    font-size: 16px;
}

/********** Edit Profile **********/
/* Estilos para el header */
.headerEditProfile {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
    position: relative;
}

.headerEditProfile .header-logo {
    width: 50px;
    /* Reduced width */
    height: 50px;
    /* Reduced height */
    margin-right: 15px;
    /* Reduced margin */
}

.headerEditProfile h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 20%;
    text-shadow: none;
}

/* **************************************** */
.EditProfile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.EditProfile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #007bff;
}

/* .formINFO #description {
    height: 100px;
}


.formINFO button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: rgb(43, 165, 221);
    color: black !important;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
} */

.info_user_editProfile {
    color: black;
    font-size: 14px;
    text-align: left;
}

/* Estilos para los inputs personalizados */
.custom-input {
    position: relative;
    margin-bottom: 20px;
}

.custom-input input {
    width: 100%;
    padding: 20px;
    height: 65px;
    /* Ajusta la altura del input */
    border: none;
    /* Quita el borde */
    background-color: #c2c2c2 !important;
    /* Fondo gris */
    font-size: 16px;
    color: #333;
    /* Color del texto por defecto */
    outline: none;
    box-sizing: border-box;
    /* Asegura que el padding no incremente el ancho */
}

.custom-input input::placeholder {
    margin: 55px !important; /* Márgenes al texto del placeholder dentro del input */
  }  

.custom-input span {
    margin: 10px 0px 0px 10px !important;
}

.custom-input input::placeholder {
    color: #999;
}

.custom-input .input-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
}

.custom-input input:focus+.input-text,
.custom-input input:not(:placeholder-shown)+.input-text {
    top: -15px;
    /* Ajusta la posición cuando se enfoca o tiene texto */
    font-size: 10px;
    color: #007bff;
    /* Cambia el color del texto cuando el input tiene foco o contenido */
}

/* Estilos para los errores */
.error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    /* Ajusta la altura del botón */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}


/* **************** LOGIN ************************ */
.colorLogin {
    background: linear-gradient(to bottom, #2b2d42, #494b66) !important;
}

.loginDiv {
    margin-top: 20%;
}

.toResetPassMail,
ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    font-size: 13px;
    border-color: #bbb;
    color: #ffffff !important;
    text-shadow: none;
    text-align: center;
}


.formLogin h2 {
    text-align: left;
    font-weight: normal;
    color: white;
    font-family: inherit;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
    letter-spacing: 1px;
    margin-left: 5px;

}

.centered-link {
    margin-top: 20px;
    display: block;
    text-align: center;
}


.login-page .ui-input-text input:focus,
.login-page .ui-input-search input:focus,
.login-page .inputLogin:focus {
    border-bottom: 2px solid rgb(66, 103, 228) !important;
    /* Change the border color to blue when focused */
}



.login-page .ui-input-text input,
.login-page .ui-input-search input,
.login-page .inputLogin {
    margin: 0 !important;
    min-height: 2.2em !important;
    text-align: left !important;
    border: none !important;
    /* Remove all borders */
    border-bottom: 1px solid #e7e7e7 !important;
    /* Add a border at the bottom */
    background: transparent none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: inherit !important;
    border-radius: 0px !important;
}

.login-page .ui-input-text input,
.login-page .ui-input-search input,
.login-page textarea.ui-input-text,
.login-page .inputLogin {

    padding: .4em !important;
    line-height: 1.4em !important;
    display: block !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    outline: 0 !important;
}



.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
    background-color: #f7f7f700 !important;
    border-color: #fbfbfb00 !important;
    color: #000000 !important;
    text-shadow: none !important;
}

.ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: none;
}

.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head+body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head+body .ui-btn-a.ui-focus,
html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}


.login-page .legend,
.login-page .ui-input-text input,
.login-page .ui-input-search input {
    color: white;
    text-shadow: inherit;
}

/* **************** CREATE USER ************************ */

.formNewUser h2 {
    text-align: left;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
    letter-spacing: 1px;
    margin-left: 5px;
}

.register-page .ui-input-text input,
.create-page .ui-input-search input,
.create-page .inputLogin {
    margin: 0 !important;
    min-height: 2.2em !important;
    text-align: left !important;
    border: none !important;
    /* Remove all borders */
    border-bottom: 1px solid #7e7e7e !important;
    /* Add a border at the bottom */
    background: transparent none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: inherit !important;
    border-radius: 0px !important;
}

.register-page .ui-input-text input,
.create-page .ui-input-search input,
.create-page textarea.ui-input-text,
.create-page .inputLogin {


    padding: .4em !important;
    line-height: 1.4em !important;
    display: block !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    outline: 0 !important;
}



.register-page .ui-body-a,
.create-page .ui-page-theme-a .ui-body-inherit,
.create-page html .ui-bar-a .ui-body-inherit,
.create-page html .ui-body-a .ui-body-inherit,
.create-page html body .ui-group-theme-a .ui-body-inherit,
.create-page html .ui-panel-page-container-a {
    background-color: #f7f7f700 !important;
    border-color: #fbfbfb00 !important;
    color: #0f0f0f !important;
    text-shadow: none !important;
}

.register-page .ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: none;
}

.register-page .ui-page-theme-a .ui-btn:focus,
.create-page html .ui-bar-a .ui-btn:focus,
.create-page html .ui-body-a .ui-btn:focus,
.create-page html body .ui-group-theme-a .ui-btn:focus,
.create-page html head+body .ui-btn.ui-btn-a:focus,
.create-page .ui-page-theme-a .ui-focus,
.create-page html .ui-bar-a .ui-focus,
.create-page html .ui-body-a .ui-focus,
.create-page html body .ui-group-theme-a .ui-focus,
.create-page html head+body .ui-btn-a.ui-focus,
.create-page html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.register-page .legend,
.register-page .ui-input-text input,
.register-page .ui-input-search input {
    color: black;
    text-shadow: inherit;
}

.labelBirthdate {
    font-size: 13px;
    border-color: #bbb;
    color: #181818ce !important;
    text-shadow: none;
    text-align: left !important;
}



.ui-mobile label,
div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 16px;
    color: black !important;

    text-align: left !important;
}

.formNewUser input::placeholder {
    color: #333;
    /* or any darker color you prefer */
    opacity: 1;
    /* Firefox needs this to change placeholder color */
}


/****************** CREAR EVENT  *********************/

.create-page label {
    text-align: left !important;
    font-weight: normal !important;
    color: rgb(0, 0, 0) !important;
    font-family: inherit !important;
    font-family: 'Roboto', sans-serif !important;
    text-shadow: none !important;
    letter-spacing: 1px !important;
    margin-left: 5px !important;
}

.create-page #tipoDeporte.input-text{
    text-align: left !important;
    font-weight: normal !important;
    color: rgb(0, 0, 0) !important;
    font-family: 'Roboto', sans-serif !important;
    text-shadow: none !important;
    letter-spacing: 1px !important;
    margin-left: 5px !important;
}

.create-page .ui-input-text input, .create-page .ui-input-search input {
    margin: 0  !important;
    min-height: 2em !important;
    text-align: left !important;
    border: none !important; /* Remove all borders */
    border-bottom: 1px solid #7e7e7e !important; /* Add a border at the bottom */
    background: transparent none !important;
    -webkit-appearance: none  !important;
    -webkit-border-radius: inherit  !important;
    border-radius: 0px  !important;
}

.create-page .ui-input-text input, .create-page .ui-input-search input, .create-page textarea.ui-input-text {
    padding: .4em  !important;
    line-height: 1.4em  !important;
    min-height: 2em !important;
    display: block  !important;
    width: 100%  !important;
    -webkit-box-sizing: border-box  !important;
    -moz-box-sizing: border-box  !important;
    box-sizing: border-box  !important;
    outline: 0  !important;
}

.create-page .ui-body-a, .create-page .ui-page-theme-a .ui-body-inherit, .create-page html .ui-bar-a .ui-body-inherit, .create-page html .ui-body-a .ui-body-inherit, .create-page html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #f7f7f700 !important;
    border-color: #fbfbfb00 !important;
    color: #0f0f0f !important;
    text-shadow: none !important;
}

.create-page .ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: none;
}

.create-page .ui-page-theme-a .ui-btn:focus, .create-page html .ui-bar-a .ui-btn:focus, .create-page html .ui-body-a .ui-btn:focus, .create-page html body .ui-group-theme-a .ui-btn:focus, .create-page html head+body .ui-btn.ui-btn-a:focus, .create-page .ui-page-theme-a .ui-focus, .create-page html .ui-bar-a .ui-focus, .create-page html .ui-body-a .ui-focus, .create-page html body .ui-group-theme-a .ui-focus, .create-page html head+body .ui-btn-a.ui-focus, .create-page html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.create-page .legend, .create-page .ui-input-text input, .create-page .ui-input-search input {
    color: black; 
    text-shadow: inherit;
}

.create-page .input-text,.create-page ui-input-text input,.create-page .ui-input-search input {
    margin: 0 !important;
    min-height: 0.2em !important; 
    text-align: left;
    border: 0 !important;
    background: transparent none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: inherit !important;
    border-radius: inherit !important;
    color: #000 !important;
}

.create-page #descripcion {
    background-color: #eeeeeef2 !important;
    border: 2px solid rgb(97, 97, 97) !important; /* Cambia el color del borde a azul cuando está enfocado */
    border-radius: 10px !important;
}


/* **************** RESET PASS ************************ */

.resetPassDiv {
    margin-top: 20%;
}

/********** Events **********/
.headerEvents {
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
    position: relative;
}

.headerEvents .header-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.headerEvents h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 20%;
}

/* **************************************** */

/* Otros estilos que puedas tener */

.events-buttons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.events-buttons button {
    padding: 6px 5px !important;
    font-size: 14px;
    background-color: rgb(43, 165, 221);
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
    margin: 20px 10px 10px;
}


.events-buttons #all {
    margin-left: 630px;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.event {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.event img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 330px;
    /*max-width: 330px;*/
    min-height: 150px;
    max-height: 150px;
}

.event h2 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #2b2b2bc5 !important;
}

.event p {
    font-size: 14px;
    margin: 0 0 10px;
    color: #2b2b2bc5;
    text-align: left;
}

.join-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: rgb(43, 165, 221);

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: -230px;
    width: 120px !important;

}

.join-btn:hover {
    background-color: #0056b3;
}

/********** Info Events **********/
.headerInfoEvents {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerInfoEvents .header-logo {
    width: 50px;
    /* Reduced width */
    height: 50px;
    /* Reduced height */
    margin-right: 15px;
    /* Reduced margin */
}

.headerInfoEvents h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    text-align: center !important;
    margin-left: 20%;
}

.notification-icon-InfoEvents{
    width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin-bottom: 900px;
  margin-top: -460px;

}
/* **************************************** */

.evento {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.evento img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 330px;
    max-width: 330px;
    min-height: 200px;
    max-height: 200px;
    color: #000;
}

.evento h2 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #000;
}

.evento p {
    font-size: 16px;
    margin: 0 0 5px;
    color: #000;
    text-align: left;
}

.participantes {
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    text-align: left;

}

.participantes h3 {
    font-size: 18px;
    margin-bottom: 10px;

}

.participantes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.participantes li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.participantes img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;

}


.participantes .info-participante p:first-child {
    font-weight: bold;
}

.unirse-btn {
    text-align: center;
    margin-top: 20px;
}

.unirse-btn .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(43, 165, 221);
    ;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: none;
}

.btnCancelar {
    display: inline-block;
    padding: 10px 20px !important;
    background-color: rgb(221, 43, 43) !important;
    color: #000 !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    text-shadow: none !important;
}

/* Css Errores formularios */

.error {
    color: #ff4f4f;
    text-shadow: none;
    /* Quitar sombra de texto */
}

span.error {
    display: block;
    font-size: 15px;
    text-align: left;
}

.login-page .ui-input-text input.error-input,
.login-page .ui-input-search input.error-input,
.login-page .inputLogin.error-input {
    border-bottom: 2px solid red !important;
    /* Change the border color to red when there is an error */
}


.formNewUser input:focus {
    border-bottom: 2px solid rgb(18, 63, 209) !important;
}

.formNewUser input.error-input {
    border-bottom: 2px solid red !important;
}

.create-page input:focus {
    border-bottom: 2px solid rgb(18, 63, 209) !important; 
}

.create-page input.error-input {
    border-bottom: 2px solid red !important; 
}

.create-page #descripcion:focus {
    border: 2px solid rgb(18, 63, 209) !important; 
}

.create-page #descripcion.error-input {
    border: 2px solid red !important; 
}

/********** Options **********/
.headerOptions {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.headerOptions img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contentOptions {
    margin-left: 40px;
}

/* **************************************** */

/* Estilos adicionales */

.menu-title {
    margin-top: 20px;
    color: #000;
    text-align: left;
}

.menu-items {
    padding-left: 10px;
}

.menu-items a {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.menu-items a:hover {
    background-color: #f0f0f0;
}

.menu-items img {
    width: 30px;
    margin-right: 10px;
}

.menu-logOut {
    padding-left: 10px;
    margin-top: 40px;
}

.menu-logOut a {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: red !important;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.menu-logOut img {
    width: 30px;
    margin-right: 10px;
}


/********** Terms **********/

.headerTerms {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.headerTerms img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



.containerTerms {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.containerTerms h1 {
    color: #333;
}

.containerTerms p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

/********** Privacy **********/

/* Estilos para el encabezado de la Política de Privacidad (headerPrivacy) */
.headerPrivacy {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.headerPrivacy img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contentPrivacy {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.contentPrivacy h1 {
    color: #333;
}

.contentPrivacy p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

/* popup de notificacion */

.popup {
    display: none;
    position: fixed;
    bottom: 30px;
    /* Agregado un margen de 10px desde abajo */
    left: 15px;
    /* Agregado un margen de 10px desde el lado izquierdo */
    right: 15px;
    width: calc(100% - 30px);
    /* Resta de 30px del ancho total para tener 15px de margen en cada lado */
    background-color: #2b2d42;
    color: white;
    /* Cambio del color de texto a blanco */
    /* text-align: center;*/
    z-index: 9999;
    text-shadow: none;
    /* Quitar sombra de texto */
    border-radius: 20px;
    /* Aplicar un radio de borde circular */
    font-size: 15px;
}

.popup-content {
    position: relative;
    margin: 10px;
    display: flex;
    /* Utilizar flexbox para alinear elementos */
    align-items: center;
    /* Centrar verticalmente los elementos */
    justify-content: center;
    /* Centrar horizontalmente los elementos */
}

.popup-close {
    margin-right: 10px;
    /* Agregar margen a la derecha del botón de cierre */
    border-radius: 20px;
    /* Aplicar un radio de borde circular */
    overflow: hidden;
    /* Asegurar que el radio de borde se aplique correctamente */
    width: 35px;
}

/**********/

.popup2 {
    display: none;
    position: fixed;
    bottom: 30px;
    /* Agregado un margen de 10px desde abajo */
    left: 15px;
    /* Agregado un margen de 10px desde el lado izquierdo */
    right: 15px;
    width: calc(100% - 30px);
    /* Resta de 30px del ancho total para tener 15px de margen en cada lado */
    background-color: #2b2d42;
    color: white;
    /* Cambio del color de texto a blanco */
    /*text-align: center;*/
    z-index: 9999;
    text-shadow: none;
    /* Quitar sombra de texto */
    border-radius: 20px;
    /* Aplicar un radio de borde circular */
    font-size: 15px;
}

.popup-content2 {
    position: relative;
    margin: 10px;
    display: flex;
    /* Utilizar flexbox para alinear elementos */
    align-items: center;
    /* Centrar verticalmente los elementos */
    justify-content: center;
    /* Centrar horizontalmente los elementos */
}

.popup-close2 {
    margin-right: 10px;
    /* Agregar margen a la derecha del botón de cierre */
    border-radius: 20px;
    /* Aplicar un radio de borde circular */
    overflow: hidden;
    /* Asegurar que el radio de borde se aplique correctamente */
    width: 35px;
}

/********** Notificaciones **********/

.notification {
    border: 1px solid #3250d5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 10px;
    margin-right: 10px;
}

.notification h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
}

.notification p {
    margin: 0;
    color: #666;
}

.headerNotify {
    display: flex;
    align-items: center;
    padding: 13px;
    /* Reduced padding */
    background-color: #ececec;
    padding-left: 10px;
    height: 35px;
}

.headerNotify .flecha-izquierda-notify {
    width: 37px !important;
    height: 27px;



}

.headerNotify h1 {
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* Reduced font size */
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.2;
    font-stretch: expanded;
    margin-left: 90px;
    text-shadow: none;

}