

/********** FOOTER **********/
.small-image {
    width: 33px; 
    height: 32px; 
}

[data-role="footer"] p {
    color: #333; 
    font-size: 12px;
    text-align: center; 
    margin: 0; 
}

/********** HEADER-INDEX **********/
.headerIndex {
    display: flex;
    align-items: center;
    padding: 13px; 
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerIndex .header-logo {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
}

.headerIndex h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/********** HEADER - NEW EVENT **********/
.headerCreate {
    display: flex;
    align-items: center;
    padding: 13px; 
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerCreate .header-logo {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
}

.headerCreate h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/********** HEADER - NEW USER **********/
.headerNewUser {
    display: flex;
    align-items: center;
    padding: 13px; 
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerNewUser .header-logo {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
}

.headerNewUser h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/********** HEADER - Login **********/
.headerLogin {
    display: flex;
    align-items: center;
    padding: 13px; /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerLogin .header-logo {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
}

.headerLogin h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/************** INDEX **************/
.container {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow: hidden; 
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left; 
    margin-left: 13px;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 310px; 
}

.col {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    padding-right: 15px;
    /*padding-left: 15px;*/
}

.bordered {
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 19px;
    flex: 1;
    background-size: cover; 
    background-position: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37); 

}

.bordered img {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Keep the original aspect ratio of the image */
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1rem;
}



.container2 {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

.column {
    width: 44%; 
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #2c2c2c;
    margin: 2px; 
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37); 
}
.column img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 9px 10px 0 0; 
    /*margin-bottom: 20px;*/
}


.column p {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.mapa {
  
    height: 230px;
    width: 92%;
    margin: 0 auto; 
    border: 1px solid #0000003d; 
    border-radius: 10px; 
    margin-bottom: 30px;
}

/************** CREATE **************/


#btnEnviar {
    background-color: rgb(43, 165, 221);
}

.timeDate {
    display: flex; 

}

.timeDate {
    display: flex;
}

.timeDate .ui-input-text {
    width: 50% !important; 
    box-sizing: border-box !important; 
    margin-right: 5px !important; 
}

.timeDate .ui-input-text:last-child {
    margin-right: 0 !important; 
}

/********** Profile **********/
/* Estilos para el header */
.headerProfile {
    display: flex;
    align-items: center;
    padding: 13px; 
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerProfile .header-logo {
    width: 50px; 
    height: 50px;
    margin-right: 15px; 
}

.headerProfile h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Reduced font size */
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/* Estilos para el contenido del perfil */
.ui-content {
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #007bff;
}

.profile-info {
    text-align: center;
    margin-top: -15px;

}

.profile-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.edit-profile-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: black !important; /* Color del texto negro */
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.edit-profile-btn:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de eventos */
.events-section {
    margin-top: 20px;
}

.events-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.events-buttons button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.events-list li {
    background-color: #f8f9fa;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    display: flex;
    align-items: center;
}

.events-list li img {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    margin-right: 10px;
    margin-left: 185px;
    object-fit: cover;
}

.events-list li h3 {
    font-size: 14px;
    margin: 0;
}

.events-list li p {
    font-size: 12px;
    color: #777;
    margin: 0;
}

/********** Edit Profile **********/
/* Estilos para el header */
.headerEditProfile {
    display: flex;
    align-items: center;
    padding: 13px; /* Reduced padding */
    background-color: rgba(43, 45, 66, 0.9);
    padding-left: 25px;
}

.headerEditProfile .header-logo {
    width: 50px; /* Reduced width */
    height: 50px; /* Reduced height */
    margin-right: 15px; /* Reduced margin */
}

.headerEditProfile h1 {
    margin: 0;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Reduced font size */
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.2;
    font-stretch: expanded;
}

/* **************************************** */
.EditProfile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.EditProfile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #007bff;
}

.formINFO #description {
    height: 100px;
}


.formINFO button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff !important;
    color: black !important; /* Color del texto negro */
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}